<header>
<div class="app-header-container">
<div class="logo-wrap">
<h1>francky blog</h1>
</div>
<div class="search-wrap">
<form>
<input type="text">
</form>
</div>
<div class="login-menu-wrap">
</div>
</div>
</header>
