<h1>new blog post</h1>


<form action="{{ '/adminpanel/savenewblog/'}}" method="POST">

title<br>
<input type="text" name="title"><br>
Description<br>
<textarea name="description">


</textarea><br>
<input type="submit" value="save">

</form>