<h1>{{blogPost["post_title"]}}</h1>
    <div>
 {{blogPost["description"]}}
    </div>

    <br>
<br>
<h2>commentaires</h2>
        <form>
             <textarea name="blogComment">
            </textarea>
            <input type="submit" value="comment">
        </form>
    