.blog-main-menu{
	background: $light-color;
	width: 70%; 
	min-height: 50px; 
	border-bottom: 2px solid $border-color; 
	margin: 0 auto; 
	margin-top: 25px; 
	border-radius: 5px; 
	padding: 5px 5px;
	ul{
		display: flex; 
		justify-content: flex-start;
		gap: 10px;
	}
	li{
		list-style-type: none;
	}
	a{
		text-decoration: none; 
		display: block;
		min-width: 80px;
		min-height: 35px; 
		padding: 10px 15px; 
		text-align: center;
		color: $gray-menu;
		border-bottom: 2px solid transparent;
		transition: all 0.3s;
		&:hover{
			color: $dark;
			border-bottom-color: $blue-color;

		}
	}
}