<h1>Contact</h1>
<form action="">
	<label><span>Votre nom</span>
	<input type="text"/>
	</label><br>
	<label for=""><span>Votre email</span>
<input type="email"/>
	</label><br>
	<label><span>Votre message</span>
	<textarea> 
	</textarea>
	</label><br> 
	<button type="submit">Envoyer</button>

</form>
