<nav>
    <li><a href="{{ '/adminpanel/'}}">home</a></li>
    <li><a href="{{ '/adminpanel/newarticle/' }}">new blog post</a></li>
    <li><a href="{{ '/adminpanel/logout' }}">logout</a></li>
</nav>
<div>
<a href="{{ "/"}}" target="_blank">Go visit  default website</a>
</div>