<h1>admin panel login</h1>

<form method="POST" action="{{ '/adminpanel/newsession/' }}">
login<br>
<input type="text" name="login"><br>
Password<br>
<input type="password" name="password"><br>
<input type="checkbox" name="remember">Remember me<br>

<input type="submit" value="login">
</form>